<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="index.js"></script>
    <title>Lyric Grapher</title>
</head>
<body>
    <h1>Lyric Grapher</h1>
    <p>Search for any song and </p>
    <select name="compare" id="compare" onchange="showUniqueOption(this.value)">
        <option value="single-chart">Single Song</option>
        <option value="two-chart">Compare Songs</option>
    </select>
    <div id="unique-selector">
        
    </div>
    <form action="/search" method="get" id="genius-form" >
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist">
        <input type="submit" value="Search">
    </form>
    <script>
        <% if(!lyrics) { let lyrics = '' } %>
        let getLyrics = <%= lyrics %>;
        console.log(getLyrics);
        // if (typeof getLyrics !== 'undefined') {

        //     let barC = new Chart(ctx1, {
        //         type: 'bar',
        //         data: data,
        //         options: options
        //     });
        // }
    </script>
    <canvas id="chart1" width="400" height="400"></canvas>
    <canvas id="chart2" width="400" height="400"></canvas>
    <ul>
        <% if(data !== null) {
            data.forEach(song => {%> 
                <li><%= JSON.stringify(song.title) %></li> 
                <button onclick="addSong(' <%= song.url %> ')"></button>
        <% })} %>
    </ul>
     
</body>
</html>